# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Distributions / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/

# macOS system files
.DS_Store