<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>App</title>
        <!--Legg til javascript fil her etterpå-->
    </head>
    <body>
        <header id = "header">
            {% block header %}
                <button class = "basic_button" id = "home_button">LSMDb</button>
                <form action="movie_site" method="post">
                    <label for="movie_name">Search for movie:</label>
                    <input type="text" name="movie_name" maxlength="50" id="search_bar" oninput="search_for_movie()">
                </form>
                <div id="search_results">
                </div>
                <button onclick="window.location.href='/show_all_movies'">All movies</button>
                <button onclick="window.location.href='/'">Home page</button>
            {% endblock %}</header>
        <main id = "main">{% block main %}Default main {% endblock %}</main>
        <footer id = "footer">{% block footer %}Default footer{% endblock %}</footer>

        <script src = "{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>