{% extends "base.html" %}

<!--
    jeg må sende med den relevante querien som jeg 
    her er gimmicket: 
    jeg skal kunne endre på 

    eks: 

    for hvert query som skal brukes må man sende med data om sorting stil, eks:old-new/new-old,
    og alltid ta med sjanger,  
    
    BTW FOR MOVIE SITE SKAL MAN KUN KUNNE SORTERE MELLOM DATO OG REVIEW SCORE. IKKE NOE ANNET!!!! MAN HENTER HER REVIEWS OG RATINGS UANSETT HVA!!!! 
-->

{% block main %}
    <div id = "user_information">
        <h2>{{username}} Review Score: {{reviewer_score.score}} Status: {{reviewer_score.status}}</h2>
        {% if owner %}
        <button id = "settings_button" onclick="">
            Settings
        </button>
    </div>
    <div id = "content_of_page">
        <div id="content_top">
            <h3>Reviews and ratings</h3>

            <label for="choose_review_rating">Show content: </label>
            <select id="choose_review_rating" name="review_rating_both" onchange="handle_sorting('{{username}}')">
                <option value="1">Review</option>
                <option value="2">Rating</option>
                <option value="3" selected>Review and rating</option>
            </select>
            
            <label for="order_by_date">Order By Date: </label>
            <select id="order_by_date" name="order_by_date" onchange="handle_sorting('{{username}}')">
                <option value="1" selected>New to old</option>
                <option value="2">Old to new</option>
            </select>

            <label for="order_by_score">Order By Score: </label>
            <select id="order_by_score" name="order_by_score" onchange="handle_sorting('{{username}}')">
                <option value="1" selected>High to low</option>
                <option value="2">Low to high</option>
            </select>

            <label for="select_genre">Select genre: </label>
            <select id="select_genre" name="select_genre" onchange="handle_sorting('{{username}}')">
                <option value="1" selected>All genres</option>
                <option value="2">Romance</option>
                <option value="3">Thriller</option>
                <option value="4">Adventure</option>
                <option value="5">Comedy</option>
                <option value="6">Action</option>
            </select>
        </div>

        <div id="content_bottom">
            {% for review_rating in reviews_and_ratings %}
            <div class="review_and_ratings">
                <h3 class="content_title"><a href="/movie_site/{{review_rating[1]}}">{{review_rating[1]}}</a> Date: {{review_rating[7]}}</h3>
                {% if review_rating[2] %}
                <h2>{{ review_rating[2]}}</h2>
                <h3>Score: {{review_rating[6]}}</h3>
                <h3>Likes: {{review_rating[3]}} Dislikes: {{review_rating[4]}}</h3>
                <p>{{review_rating[5]}}</p>
                {% endif %}
            </div>
            {% else %}
            <div class="review_and_ratings">
                <p>No reviews or ratings yet. Get started!</p>
            </div>
            {% endfor %}
        </div>
    </div>

<!--
    viktig om content!!! På server siden henter jeg relevant data fra databasen. Legger så dette inn i et dictionary. 
    Dictionariet holder på filmtittelen, tittelen på reviewet hvis det finnes, score, likes/dislikes hvis det finnes, dato, synopsis hvis det finnes

    Når en endrer på dropdown menyen

-->
{% endblock %}

{% block footer %}
{% endblock %}